<!DOCTYPE html>
<html>
<head>
	<title><%= username %></title>
</head>
<body>
	<h1>Welcome <%= firstName %> <%= lastName %></h1>
	<p>userid: <%= userid %></p>
	<p>username: <%= username %></p>
	<p>email: <%= email %></p>
	<p>gender: <%= gender %></p>
	<p>city: <%= city %></p>
	<p>state: <%= state %></p>

</body>
</html>