<!DOCTYPE html>
<html>
	<head>
		<title><%= username %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/chatStyles.css" />
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script src="ajax.js"></script>
	</head>
	<body>
		<div class="friend">
			<h3>Search for new friends</h3>
			<input type="text" name="search">
			<button onclick="getFriends()">Search</button><br><br>
			Your Friends
			<ul></ul>
		</div>
		<div class="messageboard">
			<ul name="messages"><li>chat</li></ul>
			<div class="messagebar">
				<input type="text" name="message"style="width:50%;" autocomplete="off">
				<button>Send</button>
			</div>
		</div>
		<div class="sidebar">
			<h1>Welcome <%= username %></h1>
			<p>email: <%= email %></p>
			<p>gender: <%= gender %></p>
			<p>city: <%= city %></p>
			<p>state: <%= state %></p>
		</div>
	</body>
</html>