<!DOCTYPE html>
<html>
	<head>
		<title><%= username %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/chatStyles.css" />
	</head>
	<body>
	<form action="/sendMessage" method="get">
		<div class="sidebar">
			<h1>Welcome <%= firstName %> <%= lastName %></h1>
			<p>username: <%= username %></p>
			<p>email: <%= email %></p>
			<p>gender: <%= gender %></p>
			<p>city: <%= city %></p>
			<p>state: <%= state %></p>
		</div>
		<div class="messageboard">
			<ul name="messages"><li>chat</li></ul>
		</div>
		<div class="messagebar">
			
				<input type="text" name="message">
				<input type="submit" value="Send">
			
		</div>
		</form>
	</body>
</html>