<!DOCTYPE html>
<html>
	<head>
		<title><%= username %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/chatStyles.css" />
	</head>
	<body>
	<form action="/sendMessage" method="get">
		<div class="friend">
			<h3>Search for new friends</h3>
			<input type="text" name="userSearch">
			<input type="button" value="Search"><br><br>
			Your Friends
			<ul></ul>
		</div>
		<div class="messageboard">
			<ul name="messages"><li>chat</li></ul>
			<div class="messagebar">
				<input type="text" name="message"style="width:50%;">
				<input type="button" value="Send">
			</div>
		</div>
		<div class="sidebar">
			<h1>Welcome <%= username %></h1>
			<p>email: <%= email %></p>
			<p>gender: <%= gender %></p>
			<p>city: <%= city %></p>
			<p>state: <%= state %></p>
		</div>
		</form>
	</body>
</html>