<!DOCTYPE html>
<html>
	<head>
		<title><%= username %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/chatStyles.css" />
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script src="ajax.js"></script>
	</head>
	<body>
		<div class="friend">
			<h2>Search for new friends</h2>
			<h3>Add a New Friend!</h3>
			<button onclick="getFriends()">Search</button><br><br>
			<div id="new"></div><br>
			<!--<input type="text" name="search" autocomplete="off">-->
			
			<h2>Your Friends</h2>
			<div id="friends">do you have any?</div>
			
		</div>
		<div class="messageboard">
			<ul name="messages"><li>chat</li></ul>
			<div class="messagebar">
				<input type="text" name="message"style="width:50%;" autocomplete="off">
				<button>Send</button>
			</div>
		</div>
		<div class="sidebar">
			<a href="login.html" style="float:right;color:black">Logout</a>
			<h1>Welcome <%= username %></h1>
			<p>Email: <%= email %></p>
			<p>Gender: <%= gender %></p>
			<p>City: <%= city %></p>
			<p>State: <%= state %></p>
		</div>
	</body>
</html>